%h1 PredIG

%p 
  PredIG is a Predictor of CD8+ T-cell epitope ImmunoGenicity given paired
  peptides and HLA-I alleles.

%p 
  Briefly, PredIG score consists of a probability from 0 to 1, being 1 the
  maximum likelihood for epitope immunogenicity. This score can be used to rank
  candidates for prioritization approaches or for classification using
  adaptable thresholds. 

%p 
  
  Please, refer to the Usage module for specifications of input format and data
  requirements; refer to Method Specifics module for a detailed description on
  feature space, model optimizations and user-choices.


%a.ui.green.button(href="/PredIG/predig") Run PredIG pipeline
%a.ui.button(href="/NOAH") NOAH
%a.ui.button(href="/NetCleave") NetCleave

